<% action = @user.persisted? ? user_url(@user) : users_url %>
<% button_msg = @user.persisted? ? "Save changes" : "Persist!" %>

<form action="<%= action %>" method="POST" enctype="multipart/form-data">

  <% if @user.persisted? %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

  <input type="hidden" name="authenticity_token"
                      value="<%= form_authenticity_token %>">

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited this
        user from being saved:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="user_username">Username</label><br>
    <input type="text" id="user_username"
                     name="user[username]" value="<%= @user.username %>">
  </div>

  <div class="field">
    <label for="user_avatar">Avatar</label><br>
    <input type="file" id="user_avatar" name="user[avatar]">
  </div>

  <div class="actions">
    <input type="submit" value="<%= button_msg %>">
  </div>
</form>
