<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
You are <%= link_to current_user.username, current_user %>
<% else %>
<%= link_to "Sign in!", new_session_url %>
<% end %>

<br><hr>

<%= yield %>

</body>
</html>
